<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>open1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{441,354}</string>
                <key>spriteSourceSize</key>
                <string>{441,354}</string>
                <key>textureRect</key>
                <string>{{0,0},{441,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>open2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,358}</string>
                <key>spriteSourceSize</key>
                <string>{440,358}</string>
                <key>textureRect</key>
                <string>{{0,354},{440,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>open3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,248}</string>
                <key>spriteSourceSize</key>
                <string>{305,248}</string>
                <key>textureRect</key>
                <string>{{0,712},{305,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>open4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,248}</string>
                <key>spriteSourceSize</key>
                <string>{305,248}</string>
                <key>textureRect</key>
                <string>{{0,960},{305,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>open_anim.png</string>
            <key>size</key>
            <string>{441,1208}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:766629ccaaab932cff416172e82b3640:4e4360461b4eaa647946595c326074e9:a421eff94c009c8d35d5d95e5057431b$</string>
            <key>textureFileName</key>
            <string>open_anim.png</string>
        </dict>
    </dict>
</plist>
